* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#FirstPage h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 8vw;
    animation: LoadingTitleAnimation 1s 1 linear;
    font-size: 2.5vw;
    color: #fff;
}

h2 {
    font-family: sans-serif;
    position: absolute;
    bottom: 10%;
    left: 44%;
    animation: LoadingBalloonsAnimation 1s 1 linear;
}

@keyframes LoadingTitleAnimation {
    0% {
        transform: translateY(-50vh);
    }

    100% {
        transform: translateY(0);
    }
}

#balloons {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.balloon {
    cursor: pointer;
    animation: LoadingBalloonsAnimation 1s 1 linear;
}

@keyframes LoadingBalloonsAnimation {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

.animate-balloon {
    animation: popBalloon 0.5s ease-in-out forwards;
}

@keyframes popBalloon {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
    }
}

.clicked {
    pointer-events: none;
}

#SecondPage {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    padding: 30px;
    background-color: #F3D7D6;
    width: 100%;
    height: 100vh;
}

#SecondPage h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    animation: LoadingTitleAnimation 1s 1 linear;
    font-size: 2.5vw;
    color: #fa7f7a;
}

#SecondPage {
    animation: LoadingTitleAnimation2 2s 1 linear;
}

@keyframes LoadingTitleAnimation2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#FirstPage {
    width: 100%;
    height: 100vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    background-color: aquamarine;
    color: #fff;
}
